.nav-search-container {
    height: 300px;
    width: 100%;

    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);

    .nav-search-content {
        height: 300px;
        width: 80%;
        margin: 0 auto;

        overflow-y: scroll;

        .body-content {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex: 1 0;

            .body-content-item {
                cursor: pointer;
                padding: 6px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px dotted #dfe0e1;

                .body-item-left {
                    margin-right: 8px;

                    div {
                        font-size: 14px;
                    }

                    font-size: 12px;
                }

                .body-item-right {
                    margin-left: 8px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 40px;
                    height: 40px;
                }
            }
        }

        .footer-content {}
    }
}