.sidebar-container {
    .site-overlay {
        background: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 101;
        animation: fadeIn linear 0.7s;
    }

    .sidebar-container-content {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 500px;
        background-color: white;
        z-index: 102;
        overflow-y: scroll;
        transform: translateX(+100%);
        transition: transform linear 0.4s;
    }

    .sidebar-container-content-close {
        transform: translateX(0%);
        transition: transform linear 0.4s;
    }


    @keyframes fadeIn {
        from {
            opacity: 0;

        }

        to {
            opacity: 1;
        }
    }

    @media (max-width: 480px) {
        .sidebar-container-content {
            width: 88%;

            .menu-container {
                width: 90%;
            }
        }
    }

    .menu-container {
        margin: 0 auto;
        width: 70%;
        margin-top: 5vh;
        height: 90vh;

        .top-content {
            margin-bottom: 25px;

            .hi-user {
                display: none;

            }

            .mobile {
                cursor: pointer;
                display: none;
                text-align: center;
                width: 100%;
                margin-bottom: 30px;
            }

            @media (max-width: 769px) {

                .close {
                    position: absolute;
                    top: 2vh !important;
                    right: 2vh !important;
                }

                .hi-user {
                    display: block;
                    width: 100%;
                    text-align: center;
                    margin-bottom: 16px;
                }

                .mobile {
                    display: block;
                }
            }

            .menu-block {
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;
                width: 100%;

                .menu-title {
                    font-size: 18px;

                    &:hover {
                        color: var(--main-color);
                    }

                }

                .close {
                    position: absolute;
                    top: 3vh;
                    right: 6vh;
                    font-size: 20px;

                    &:hover {
                        color: var(--main-color);
                    }
                }
            }

        }

        .center-content {
            ul {
                span {
                    &:hover {
                        color: var(--main-color);
                    }
                }

                cursor: pointer;
                font-size: 18px;
                font-weight: 500;
                list-style-type: none;
                padding: 0;
                margin: 16px 0;
                position: relative;

                i {
                    position: absolute;
                    right: 0;
                }

                li {
                    display: block;

                    &:hover {
                        color: var(--main-color);
                    }

                    margin: 8px 0 0 24px;
                    font-size: 16px;

                }
            }

        }

        .bottom-content {
            cursor: pointer;
            margin-top: 30px;

            div {
                cursor: pointer;

                &:hover {
                    color: var(--main-color);
                }
            }
        }

    }
}