.login-container {
    background-color: #f0f2f5;
    height: 100vh;
    display: flex;
    align-items: center;

    .content-container {
        height: 600px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;
        overflow: hidden;

        .comtent-left {

            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .store-title {
                color: var(--main-color);
                font-weight: 800;
                font-size: 50px;
                cursor: pointer;
            }

        }

        .content-right {

            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;

            .form-container {

                margin: 0;
                padding-top: 30px;
                align-items: center;
                background: #fff;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
                box-sizing: border-box;
                width: 400px;


                .form-group {
                    position: relative;
                    margin: 16px auto;
                    width: 90%;

                    input {
                        width: 100%;
                        height: 50px;
                    }

                    i {
                        cursor: pointer;
                        padding: 8px;
                        position: absolute;
                        right: 15px;
                        top: 0;
                    }
                }

                .btn-background {
                    width: 90%;
                    margin: 0 auto;
                }

                .btn-login {
                    margin: 0 auto;
                    width: 100%;
                    background-color: #1877f2;
                    ;
                    color: #fff;
                    font-size: 20px;
                    font-weight: 600;
                }

                .forgot-password {
                    width: 95%;
                    text-align: center;
                    margin: 8px auto 0;
                    cursor: pointer;
                    border-bottom: 1px solid #ddd;
                    padding-bottom: 16px;

                    a {
                        text-decoration: none;
                        color: rgb(17, 14, 204);
                    }

                    a:hover {
                        text-decoration: underline;
                    }
                }

                .footer {
                    width: 50%;
                    margin: 30px auto;

                    .btn-register {
                        width: 100%;
                        background-color: #ec7709;
                        ;
                        font-size: 18px;
                        font-weight: 600;
                        color: #fff;
                        height: 44px;

                    }
                }
            }

        }
    }

    @media (max-width: 480px) {
        .content-container {
            display: flex;
            flex-direction: column;
            height: auto;

            .comtent-left {
                width: 100%;
                display: block;
                margin-left: auto;
                margin-right: auto;

                .store-title {
                    font-weight: 800;
                    font-size: 40px;
                }
            }

            .content-right {
                width: 100%;
                display: block;

                .form-container {
                    padding: 16px 0;
                    height: fit-content;
                    width: 95%;
                    margin-left: auto;
                    margin-right: auto;

                    .footer {
                        width: 60%;
                        margin: 24px auto;

                        .btn-register {
                            width: 100%;
                            background-color: #ec7709;
                            font-size: 18px;
                            font-weight: 600;
                            color: #fff;
                            height: 44px;

                        }
                    }
                }

            }
        }
    }

}