.banner-container {
    width: 100%;
    margin: 0 auto;


    .banner-item {
        background-image: url('https://file.hstatic.net/1000096703/file/11_1a158fee5eb1409bad4612a8c3f1d4d3.jpg');
        background-repeat: no-repeat;
        background-position: 30%;
        background-size: cover;
        width: 100%;
        height: 100vh;
    }

}