.banner-container {
    width: 100%;
    margin: 0 auto;


    .banner-item {
        background-image: url('https://previews.123rf.com/images/goodstudio/goodstudio1909/goodstudio190900067/130218841-banner-template-for-fashion-show-with-top-models-wearing-trendy-seasonal-clothes-walking-along-runwa.jpg');
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        width: 100%;
        height: 100vh;
    }

    @media(max-width:480px) {
        .banner-item {
            background-size: contain;
            height: 24vh;
        }
    }

}