.cart-container {
    margin: 0 auto;
    width: 70%;
    margin-top: 7vh;
    height: 90vh;

    .top-content {
        margin-bottom: 25px;

        .cart-block {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;

            .cart-title {
                font-size: 18px;


                &:hover {
                    color: var(--main-color);
                }

            }

            .close {
                position: absolute;
                top: 3vh;
                right: 6vh;
                font-size: 20px;

                &:hover {
                    color: var(--main-color);
                }
            }
        }

    }

    .center-content {

        width: 100%;

        .center-content-top {
            h6 {
                margin-top: 55px;
            }

            .product-box {
                text-transform: capitalize;
                padding: 12px 0;
                display: flex;
                width: 100%;
                align-items: center;
                border-bottom: 1px #ddd dashed;

                .image {
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 85px;
                    height: 85px;
                    cursor: pointer;
                }


                .conten-box {
                    width: calc(100% - 105px);
                    margin-left: 20px;

                    .top-box {
                        position: relative;
                        width: 100%;

                        .title {
                            cursor: pointer;
                            font-size: 12px;
                            font-weight: 600;
                            text-transform: uppercase;

                        }

                        .delete {
                            position: absolute;
                            right: -10px;
                            top: -18px;
                            cursor: pointer;
                            padding: 10px;
                        }
                    }




                    .desciption {
                        font-size: 12px;
                        width: 100%;
                        margin-bottom: 4px;
                        opacity: 0.66;
                    }

                    .footter-box {
                        display: inline-flex;

                        .quantity {
                            width: auto;
                            background: #ededed;
                            text-align: center;
                            padding: 6px 12px;
                            font-size: 12px;
                            line-height: 1;
                            margin-right: 12px
                        }

                        .price {
                            display: block;
                            text-align: center;
                            float: left;
                            line-height: 26px;
                            font-weight: 500;
                            opacity: 0.7;
                        }
                    }


                }


            }

        }

        .center-content-bottom {
            margin-top: 12px;
            border-top: 2.5px solid #000;
            ;
            display: flex;
            justify-content: space-between;
            padding-top: 12px;

            .total-price {
                font-size: 16px;
                font-weight: 350;
            }
        }
    }

    .bottom-content {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;

        .see-cart,
        .pay {
            margin-left: auto;
            margin-right: auto;
            background-color: var(--main-color);
            color: white;
            padding: 12px 60px;
            cursor: pointer;
            margin-bottom: 160px;
            font-size: 13px;

        }
    }

    .form-order-container {

        .form-order-header {
            .show-hide-order-infor {
                i {
                    margin-right: 4px;
                }

                margin-top: 8px;
                margin-bottom: 8px;
                cursor: pointer;
                flex-direction: row;
                display: flex;
                justify-content: space-between;

                .toggle-show-hide-oder-infor {
                    color: #338dbc;
                }
            }

            .form-order-title {
                margin-top: 16px;
                font-size: 18px;
                font-weight: 450;
            }

            .form-order-discount-code {
                margin: 8px 0;
                display: flex;
                justify-content: space-between;

                input {
                    width: 60%;
                }
            }


        }

        .form-order-body {
            input {
                margin: 8px 0;
            }
        }

        .footer-btn {


            margin-bottom: 160px;
            display: flex;
            flex-direction: column;

            .btn-top {
                padding: 10px 0;
                margin-bottom: 8px;
            }

            .btn-bottom {
                margin: 8px 0 160px 0;
                padding: 10px 0;
            }

        }
    }





    .form-group {}

}

@media (max-width: 480px) {

    .see-cart,
    .pay {

        padding: 10px 40px !important;
    }

    .title {

        max-width: 150px !important;
    }

    .cart-container {
        width: 90%;

        .close {
            top: 2vh !important;
            right: 2vh !important;
        }
    }
}