.user-manage-container {

    width: 95%;
    margin: 20px auto;

    .button-container {
        margin: 16px 0;

        .btn-add {}

        .btn-cancle {
            margin: 0 16px;
        }
    }

}